node
go
keycertz


node_systems/node_modules
node_systems/package-lock.json
parcel_blueprint_blue_interface/.cache
parcel_blueprint_blue_interface/dist
parcel_blueprint_blue_interface/node_modules
parcel_blueprint_blue_interface/package-lock.json

parcel_blueprint_red_interface/.cache
parcel_blueprint_red_interface/dist
parcel_blueprint_red_interface/node_modules
parcel_blueprint_red_interface/package-lock.json

php_systems/compose-setup.php
python_systems/__pycache__

go_systems/pkg
go_systems/src/github.com